###################################
# Server Configuration
###################################
PORT=8080

###################################
# Application Database Config
###################################
DB_HOST=mysql-db
DB_PORT=3306
DB_NAME=orderdb
DB_USER=your_db_user
DB_PASSWORD=your_db_password

###################################
# MySQL Root Config (Container Only)
###################################
MYSQL_ROOT_PASSWORD=your_mysql_root_password

###################################
# RabbitMQ Configuration
###################################
RABBITMQ_HOST=rabbitmq
RABBITMQ_PORT=5672
RABBITMQ_USER=your_rabbit_user
RABBITMQ_PASSWORD=your_rabbit_password